@use  'colors' as *;

.trending{
    grid-area: trending;
    margin: 0 1em 1em 0;
}

.trendingHeader{
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    color: $darkerColor;
}

.trendingList{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.trendings{
    display: flex;
    align-items: center;
    gap: 1em;
}

.profIcon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $darkerColor;
}