@import 'sidebar', 'header', 'content', 'announcement', 'trending', 'colors';

body {
    box-sizing: border-box;
    background: $lighterColor;
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
        "sidebar header header"
        "sidebar content announcement"
        "sidebar content trending";
}
